* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.header {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 22px;
}

.header-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.logo-text-block-and-menu-icon-container {
    display: flex;
    align-items: center;
}

.logo-text-block {
    display: flex;
    align-items: center;
}

.logo-text-block img {
    width: 48px;
    height: 48px;
}

.hamburger-menu-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF8C;
    padding: 8px 13px;
    border-radius: 2px;
    border: 1px solid #FFFFFF8C;
    display: none;
}

.logo-text-block h1 {
    font-family: Mochiy Pop One;
    font-size: 30px;
    font-weight: 400;
    line-height: 43.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
    padding-left: 7px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-link-item {
    padding: 0px 15px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.16s ease;
}

.nav-hoverable-item:hover {
    color: #FEA116;
    transition: color 0.16s ease;
}

.nav-links a.active-nav-item {
    color: #FEA116;
}

.book-table-button {
    padding: 0;
}

.book-table-button a {
    background-color: #FEA116;
    margin-left: 15px;
    padding: 8px 24px;
    border-radius: 2px;
}

.hero-section {
    height: auto;
    width: 100vw;
}

.hero-container {
    width: 100%;
}

.hero-top-container {
    width: 100%;
    background-image: url('../Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-top-blur-image-container {
    height: 100%;
    width: 100%;
    background: #0F172BE5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 132px 17%;
    gap: 46px;
}

.hero-top-content img {
    height: 500px;
    width: 500px;
    aspect-ratio: 1/1;
    animation: rotation 40s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hero-heading-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-heading-description-container h1 {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 800;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-heading-description-container p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-heading-description-container a {
    background-color: #FEA116;
    padding: 8px 24px;
    border-radius: 2px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.hero-bottom-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 96px 16%;
}

.hero-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px 32px 24px;
    border-radius: 2px;
    box-shadow: 0px 0px 45px 0px #00000014;
    transition: background-color 0.3s ease;
}

.hero-grid-item:hover {
    background-color: #FEA116;
    transition: background-color 0.3s ease;
}

.hero-grid-item svg {
    height: 48px;
    width: auto;
    object-fit: cover;
    margin-bottom: 24px;
    fill: #FEA116;
    transition: fill 0.3s ease;
}

.hero-grid-item:hover svg {
    fill: white;
    transition: fill 0.3s ease;
}

.hero-grid-item h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 16px;
    color: #0F172B;
    transition: color 0.3s ease;
}

.hero-grid-item p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    transition: color 0.3s ease;
}

.hero-grid-item:hover h4,
.hero-grid-item:hover p {
    color: white;
    transition: color 0.3s ease;
}

/* About Us Section */

.about-us-section {
    width: 100vw;
    background-color: #F1F8FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-us-container {
    margin: 96px 17%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-us-gallery-container {
    min-width: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.about-us-gallery-item {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-gallery-item-top-right-container {
    align-items: flex-end;
    justify-content: flex-start;
}

.about-us-gallery-item-bottom-left-container {
    align-items: flex-start;
    justify-content: flex-end;
}

.about-us-gallery-item-top-right-container img,
.about-us-gallery-item-bottom-left-container img {
    max-width: 75%;
}

.about-us-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-us-info-top-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.about-us-info-top-heading-container h3 {
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
}

.about-us-info-container-divider-line {
    width: 46px;
    height: 2px;
    margin: 0 10px;
    background-color: #FEA116;
}

.about-us-info-welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.about-us-info-welcome-container h3 {
    font-family: Poppins;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.about-us-info-welcome-container svg {
    fill: #FEA116;
    width: auto;
    height: 33px;
    margin: 0 4px;
}

.about-us-info-paragraphs-container p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    margin-bottom: 22px;
}

.about-us-info-market-points-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
}

.about-us-info-market-points-single-block {
    border-left: 5px solid #FEA116;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
}

.about-us-info-market-points-single-block:first-child {
    margin-right: 80px;
}

.about-us-info-market-points-single-block h4 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
    padding-right: 24px;
}

.about-us-info-market-points-single-block p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
}

.about-us-info-market-points-single-block p span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0F172B;
}

.about-us-info-readmore-button-container {
    background-color: #FEA116;
    padding: 16px 48px;
}

.about-us-info-readmore-button-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 2px;
}

/* Menu Section */

.menu-section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-container {
    margin: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-top-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.menu-top-heading-container h3 {
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
}

.menu-container-divider-line {
    width: 46px;
    height: 2px;
    margin: 0 10px;
    background-color: #FEA116;
}

.popular-items-heading {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 44px;
}

.menu-kind-selection-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    border-bottom: 1px solid #DEE2E6;
}

.menu-kind-selection-bar a {
    text-decoration: none;
}

.menu-kind-selection-bar-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 16px;
    margin: 0 16px;
}

.menu-kind-selection-bar-item-active {
    border-bottom: 2px solid #FEA116;
}

.menu-kind-selection-bar-item svg {
    fill: #FEA116;
    margin-top: 6px;
}

.menu-kind-selection-bar-item p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    padding-left: 16px;
}

.menu-kind-selection-bar-item p span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0F172B;
}

.menu-items-container {
    width: 100%;
    flex-grow: 1;
}

.menu-items-frame {
    width: 100%;
    height: 100%;
    border: none;
}

/* Book A Table */

.book-a-table-section {
    width: 100vw;
    background-color: #0F172B;
}

.book-a-table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.book-a-table-cover-image-container {
    background-color: orange;
    flex: 1;
}

.book-a-table-cover-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.book-a-table-form-container {
    padding: 96px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.book-a-table-section-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.book-a-table-section-title-container h3 {
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
}

.book-a-table-section-title-line {
    width: 46px;
    height: 2px;
    margin: 0 10px;
    background-color: #FEA116;
}

.book-a-table-heading {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    margin-bottom: 24px;
}

.book-a-table-form-container form label {
    display: none;
}

.name-email-row input,
.time-total-people-row input {
    height: 56px;
    width: 262px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #CED4DA;
    border-radius: 2px;
    padding: 16px;
}

.time-total-people-row select {
    display: none;
}

.name-email-row,
.time-total-people-row,
.special-request-row {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.total-people-selection-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 262px;
    padding: 16px;
    border: 1px solid #CED4DA;
    border-radius: 2px;
}

.total-people-selection-left-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.total-people-selection-left-texts h5 {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
}

.total-people-selection-left-texts p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
}

.special-request-row textarea {
    height: 98px;
    width: 556px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #CED4DA;
    border-radius: 2px;
    padding: 16px;
}

.book-now-button {
    height: 56px;
    width: 556px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    background-color: #FEA116;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

/* Master Chefs Section */

.master-chefs-section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.master-chefs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 58px;
}

.master-chefs-gallery-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
}

.master-chefs-gallery-grid-item-container {
    height: 100%;
    width: 100%;
}

.master-chefs-gallery-item-parent-container {
    height: calc(100% - 38px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.2s ease-in-out 0.2s;
    box-shadow: 0px 0px 39.15px 0px #00000014;
}

.master-chefs-gallery-item-parent-container:hover {
    transition: height 0.4s ease-in-out;
    height: 100%;
}

.master-chefs-gallery-item-parent-container:hover .social-media-items-container-bar {
    transition: opacity 0.4s ease-in-out 0.32s;
    opacity: 1;
}

.master-chefs-gallery-item-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
}

.master-chefs-gallery-item-info-container img {
    width: 218px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.master-chefs-gallery-item-info-container h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 20.88px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 18px;
}

.master-chefs-gallery-item-info-container p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 2px;
    color: #666565;
}

.social-media-items-container-bar {
    opacity: 0;
    height: 38px;
    width: 100%;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.social-media-item-icon-container {
    background-color: #FEA116;
    height: 38px;
    width: 38px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimonials Section */

.testimonials-section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F1F8FF;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 17% 220px 17%;
}

.testimonials-blocks-container {
    width: 100%;
    height: 100%;
}

.testimonials-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 0 auto;
}

.testimonial-grid-item {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #DEE2E6;
    transition: background-color 0.3s ease-in-out;
}

.testimonial-grid-item:hover {
    background-color: #FEA116;
    transition: background-color 0.3s ease-in-out;
}

.testimonial-grid-item svg {
    fill: #FEA116;
    transition: fill 0.3s ease-in-out;
}

.testimonial-grid-item:hover svg {
    fill: white;
    transition: fill 0.3s ease-in-out;
}

.testimonial-grid-item:hover .testimonial-grid-item-comments {
    color: white;
    transition: color 0.3s ease-in-out;
}

.testimonial-grid-item:hover .testimonial-grid-item-person-name-profession-container h5,
.testimonial-grid-item:hover .testimonial-grid-item-person-name-profession-container p {
    color: white;
    transition: color 0.3s ease-in-out;
}

.testimonial-grid-item svg {
    margin: 24px 0 16px 24px;
}

.testimonial-grid-item-comments {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 16px;
    color: #666565;
    transition: color 0.3s ease-in-out;
}

.testimonial-grid-item-person-info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 24px 24px 24px;
}

.testimonial-grid-item-person-info-container img {
    width: 50px;
    height: 50px;
}

.testimonial-grid-item-person-name-profession-container h5 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: color 0.3s ease-in-out;
}

.testimonial-grid-item-person-name-profession-container p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    transition: color 0.3s ease-in-out;
}

.testimonial-grid-item-person-name-profession-container {
    margin: 0 16px;
}

/* Footer */

.footer {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #272F41;
}

.footer-content {
    height: 100%;
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright-text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.footer-copyright-text span {
    text-decoration: underline;
}

.footer-content ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer-content ul li a {
    margin: 0 0 0 14px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-decoration: none;
}

.scroll-to-top-button {
    background-color: #FEA116;
    width: 48px;
    height: 48px;
    color: white;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 45px;
    bottom: 96px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.visible-scroll-to-top-button {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* ------------- Contact Us -------------- */

.contact-us-container {
    height: 397px;
    width: 100%;
    background-image: url('../Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-us-hero-blur-image-container {
    height: 100%;
    width: 100%;
    background: #000000CC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-us-hero-content {
    width: 65%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-hero-content h1 {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 800;
    line-height: 76.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.contact-us-hero-content p {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.contact-us-hero-content p a {
    text-decoration: none;
    color: white;
}

.contact-us-hero-content p .gray-slash {
    color: #FFFFFF80;
}

.contact-us-hero-content p .orange-part {
    color: #FEA116;
}

/* Contact us map and form section */

.contact-us-form-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-form-container {
    width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0 145px 0;
}

.contact-us-form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-form-emails-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email-container {
    flex-grow: 1;
    margin: 0 48px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.email-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.email-heading-container h3 {
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
}

.email-value-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.email-value-container svg {
    fill: #FEA116;
}

.email-value-container p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
}

.contact-us-form-bottom-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 24px;
}

.contact-us-form-maps-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-us-form-maps-container img {
    width: 558px;
    height: 373px;
    object-fit: cover;
}

.contact-us-form-fields-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    flex-grow: 1;
}

.contact-us-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

.contact-us-form .name-email-row input {
    flex-grow: 1;
}

.contact-us-form .message-row {
    flex-grow: 1;
}

.contact-us-form .message-row textarea {
    height: 100%;
}

.contact-us-form-fields-container form label {
    display: none;
}

.subject-row input {
    height: 56px;
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #CED4DA;
    border-radius: 2px;
    padding: 16px;
}

.subject-row,
.message-row {
    margin-bottom: 18px;
}

.message-row textarea {
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #CED4DA;
    border-radius: 2px;
    padding: 16px;
}

.send-message-button {
    height: 56px;
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    background-color: #FEA116;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}