* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 22px;
}

.header-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.logo-text-block {
    display: flex;
    align-items: center;
}

.logo-text-block img {
    width: 48px;
    height: 48px;
}

.logo-text-block h1 {
    font-family: Mochiy Pop One;
    font-size: 30px;
    font-weight: 400;
    line-height: 43.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
    padding-left: 7px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-link-item {
    padding: 0px 15px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.16s ease;
}

.nav-hoverable-item:hover {
    color: #FEA116;
    transition: color 0.16s ease;
}

.book-table-button {
    padding: 0;
}

.book-table-button a {
    background-color: #FEA116;
    margin-left: 15px;
    padding: 8px 24px;
    border-radius: 2px;
}

.hero-section {
    height: auto;
    width: 100vw;
}

.hero-container {
    height: 100%;
    width: 100%;
}

.hero-top-container {
    height: 764px;
    width: 100%;
    background-image: url('../Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-top-blur-image-container {
    height: 100%;
    width: 100%;
    background: #0F172BE5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-top-content {
    width: 65%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-top-content img {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    margin-left: 46px;
}

.hero-heading-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-heading-description-container h1 {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 800;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-heading-description-container p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-heading-description-container a {
    background-color: #FEA116;
    padding: 8px 24px;
    border-radius: 2px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.hero-bottom-container {
    height: 448px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-grid-container {
    max-width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
}

.hero-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px 32px 24px;
    border-radius: 2px;
    box-shadow: 0px 0px 45px 0px #00000014;
    transition: background-color 0.3s ease;
}

.hero-grid-item:hover {
    background-color: #FEA116;
    transition: background-color 0.3s ease;
}

.hero-grid-item svg {
    height: 48px;
    width: auto;
    object-fit: cover;
    margin-bottom: 24px;
    fill: #FEA116;
    transition: fill 0.3s ease;
}

.hero-grid-item:hover svg {
    fill: white;
    transition: fill 0.3s ease;
}

.hero-grid-item h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 16px;
    color: #0F172B;
    transition: color 0.3s ease;
}

.hero-grid-item p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    transition: color 0.3s ease;
}

.hero-grid-item:hover h4,
.hero-grid-item:hover p {
    color: white;
    transition: color 0.3s ease;
}

/* About Us Section */

.about-us-section {
    height: auto;
    width: 100vw;
    background-color: #F1F8FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-us-container {
    height: 556px;
    margin: 96px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-us-gallery-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-right: 15px;
}

.about-us-gallery-item {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-gallery-item-top-right-container {
    align-items: flex-end;
    justify-content: flex-start;
}

.about-us-gallery-item-bottom-left-container {
    align-items: flex-start;
    justify-content: flex-end;
}

.about-us-info-container {
    height: 100%;
    max-width: 32%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-us-info-top-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.about-us-info-top-heading-container h3 {
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
}

.about-us-info-container-divider-line {
    width: 46px;
    height: 2px;
    margin: 0 10px;
    background-color: #FEA116;
}

.about-us-info-welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.about-us-info-welcome-container h3 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.about-us-info-welcome-container svg {
    fill: #FEA116;
    width: auto;
    height: 33px;
    margin: 0 4px;
}

.about-us-info-paragraphs-container p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    margin-bottom: 22px;
}

.about-us-info-market-points-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
}

.about-us-info-market-points-single-block {
    border-left: 5px solid #FEA116;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
}

.about-us-info-market-points-single-block:first-child {
    margin-right: 80px;
}

.about-us-info-market-points-single-block h4 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
    padding-right: 24px;
}

.about-us-info-market-points-single-block p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
}

.about-us-info-market-points-single-block p span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0F172B;
}

.about-us-info-readmore-button-container a {
    padding: 16px 48px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #FEA116;
    border-radius: 2px;
}

/* Menu Section */

.menu-section {
    width: 100vw;
    height: 819px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-container {
    height: 68%;
    max-width: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-top-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.menu-top-heading-container h3 {
    font-family: Pacifico;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FEA116;
}

.menu-container-divider-line {
    width: 46px;
    height: 2px;
    margin: 0 10px;
    background-color: #FEA116;
}

.popular-items-heading {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 44px;
}

.menu-kind-selection-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    border-bottom: 1px solid #DEE2E6
}

.menu-kind-selection-bar a {
    text-decoration: none;
}

.menu-kind-selection-bar-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 16px;
    border-bottom: 2px solid #FEA116;
    margin: 0 16px;
}

.menu-kind-selection-bar-item svg {
    fill: #FEA116;
    margin-top: 6px;
}

.menu-kind-selection-bar-item p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666565;
    padding-left: 16px;
}

.menu-kind-selection-bar-item p span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0F172B;
}

.menu-items-container {
    background-color: yellow;
    width: 100%;
    flex-grow: 1;
    opacity: 0.3;
}